**/venv/
**/__pycache__/
**/.pytest_cache/
*.pyc
node_modules/
dist/
.env
.env.local
.DS_Store

*.onnx
*.pt
*.pth
*.7z
**/weights/
**/data/
ml-training/echonet_data/

app/cardiosense.db
app/static_uploads/
__pycache__/
*.pyc
venv/
.env

ml-inference/app/cardiosense.db
ml-inference/app/static_uploads/
__pycache__/
*.pyc
venv/
.env
*.mp4
test_overlay*.png
frontend.zip
ml-training/vessel_analysis.zip